################
# QA Additions
################

node_modules
dist
.tmp
.DS_Store
bower_components
npm-debug.log
*.pyc
*__pycache__*
geckodriver.log
jmeter.log
geckodriver.log
jmeter.log
log.txt
log.txt

## Ignnore VirtualEnv Installs
env/
env/

## secrets has it's own .gitignore

# Test Outputs
security/results.json
security/testreport.html
performance/results/*.csv
accessibility/output/*
utilities/allure/allure_results/*.json
utilities/allure/allure_results/history/*
visual/results/*.json
visual/results/*.png
visual/reports/*
utilities/allure/allure-reports/*
utilities/allure/allure_results/*
utilities/modheaders_plugin.zip
security/results.json
security/testreport.html
accessibility/output/*
results/*
visual/results/*.png
visual/reports/
visual/results/*.json
utilities/allure/allure_results/*.json
utilities/allure/allure-reports/*
performance/results/*.csv
utilities/modheaders_plugin.zip
################
# End QA Additions
################
